{
	"rules": {
		"camelcase": "off",
		"unicorn/no-process-exit": "off",
		"no-async-promise-executor": "off",
		"no-await-in-loop": "off",
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/ban-ts-commen": "off",
		"operator-linebreak": [
			"error",
			"before"
		],
		"arrow-parens": [
			"error",
			"always"
		],
		"indent": [
			"error",
			"tab",
			{
				"SwitchCase": 1
			}
		],
		"semi": [
			"warn",
			"always"
		],
		"object-curly-spacing": [
			"error",
			"always"
		],
		"node/no-missing-import": "off"
	},
	"extends": [
		"oclif",
		"oclif-typescript"
	]
}
